{% extends 'base-templates/adminBase.html.twig' %}

{% block content %}
    <h2>Here you can create product</h2>
    {% if product_form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in product_form.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ form(product_form) }}
{% endblock %}