{% extends 'base.html.twig' %}

{% block title %}Super Admin Dashboard{% endblock %}

{% block content %}
    <h1>Welcome Super Admin!</h1>
    <p>This is your super minimalistic dashboard.</p>
{% endblock %}

{% block additional_info %}
    <p>Some additional information for super admins.</p>
{% endblock %}
