{% extends 'base.html.twig' %}

{% block title %}Super Admin Dashboard{% endblock %}

{% block content %}
    <h1>Welcome User :)</h1>
{% endblock %}

{% block additional_info %}
    <p>Some additional information about user</p>
{% endblock %}
